<% content_for :head do %>
  <%= javascript_include_tag 'spree/return_authorization', defer: true, data: { turbo_track: 'reload' } %>
<% end %>

<%= render partial: 'spree/shared/error_messages', locals: { target: @return_authorization } %>

<div class="container py-5">
 <h3 class="pb-4"><%= Spree.t(:new_return_request, scope: :return_authorizations_view) %></h3>

  <%= form_for [@order, @return_authorization] do |f| %>
    <fieldset>
      <%= render partial: 'form', locals: { f: f } %>
      <div class="form-actions" data-hook="buttons" class="<%= all_item_returned? %>">
        <%= button Spree.t(:create), 'save' %>
        <span class="or"><%= Spree.t(:or) %></span>
        <%= button_link_to Spree.t('actions.cancel'), spree.order_url(@order), icon: 'delete' %>
      </div>
    </fieldset>
  <% end %>
</div>